@import url("fontawesome-all.min.css");


p{
    text-align: center;
    font-size: 25px;
}



img{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 15%;
}

h1{
    text-align: center;
}

.wrapper{
    padding: 2em 0 8em 0;
}

.foot{
    text-align:center;
    background-color: rgb(95, 95, 95);
    width: 100%;
}

ul.contact{
    text-align: center;
}
ul.contact li{
    display: inline;
    color: white;
    text-align: center;
}

ul.contact i{
    line-height: 1.5em;
    height: 2em;
    padding-top: 0em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
    font-size: 40px;
}

ul.contact a{
    color: white;
}

nav{
    text-align:center;
    background-color: rgb(95, 95, 95);
    width: 100%;
}
nav li{
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 1em 1.25em 1em;
    
}
nav a{
    border: 50px;
    border-radius: 8px;
    height: 6em;
	line-height: 3.5em;
    padding: 1em 1.25em 1em;
    color: white;
    text-decoration: none;
    -moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
nav a:hover{
    background: rgb(126, 126, 126)
    
}